*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.DS_STORE
.flowconfig
.grunt
.idea
.module-cache
.vscode
_SpecRunner.html
__benchmarks__
build/
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
package-lock.json
remote-repo/
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js
